BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Tahoma,Arial
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Tahoma,Arial
}
TR {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Tahoma,Arial
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Tahoma,Arial
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana,Tahoma,Arial
}
.divtext {
	FONT-SIZE: 10px
}
.menuon {
	FONT-WEIGHT: bold; COLOR: #f9ce03
}
A.menuon:link {
	FONT-WEIGHT: bold; COLOR: #f9ce03
}
A.menuon:visited {
	FONT-WEIGHT: bold; COLOR: #f9ce03
}
A.menuon:hover {
	FONT-WEIGHT: bold; COLOR: #f9ce03
}
.menuoff {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.menuoff:link {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.menuoff:visited {
	FONT-WEIGHT: bold; COLOR: white; TEXT-DECORATION: none
}
A.menuoff:hover {
	FONT-WEIGHT: bold; COLOR: #f9ce03; TEXT-DECORATION: underline
}
.divheadlnk {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
A.divheadlnk:link {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
A.divheadlnk:hover {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
A.divheadlnk:visited {
	FONT-WEIGHT: bold; COLOR: black; TEXT-DECORATION: none
}
.morelnk {
	FONT-SIZE: 7pt; COLOR: #cc0000
}
A.morelnk:link {
	FONT-SIZE: 7pt; COLOR: #cc0000
}
A.morelnk:hover {
	FONT-SIZE: 7pt; COLOR: #cc0000
}
A.morelnk:visited {
	FONT-SIZE: 7pt; COLOR: #cc0000
}
.forsrch {
	FONT-WEIGHT: bold; COLOR: #cc0000
}
A.forsrch:link {
	FONT-WEIGHT: bold; COLOR: #cc0000
}
A.forsrch:hover {
	FONT-WEIGHT: bold; COLOR: #cc0000
}
A.forsrch:visited {
	FONT-WEIGHT: bold; COLOR: #cc0000
}
.smh {
	FONT-WEIGHT: bold; COLOR: #333333
}
.smnews {
	FONT-SIZE: 11px; COLOR: #333333
}
.allnews {
	FONT-SIZE: 11px; COLOR: #cc0000
}
A.allnews:link {
	FONT-SIZE: 11px; COLOR: #cc0000; TEXT-DECORATION: none
}
A.allnews:hover {
	FONT-SIZE: 11px; COLOR: #cc0000; TEXT-DECORATION: none
}
A.allnews:visited {
	FONT-SIZE: 11px; COLOR: #cc0000; TEXT-DECORATION: none
}
.footer {
	FONT-SIZE: 10px; COLOR: #999999
}
A.footer:link {
	FONT-SIZE: 10px; COLOR: #999999
}
A.footer:hover {
	FONT-SIZE: 10px; COLOR: #999999
}
A.footer:visited {
	FONT-SIZE: 10px; COLOR: #999999
}
.redlnk {
	COLOR: #cc0000
}
.small {
	FONT-SIZE: 11px
}
.path {
	FONT-SIZE: 11px; COLOR: black
}
A.path:link {
	FONT-SIZE: 11px; COLOR: black
}
A.path:hover {
	FONT-SIZE: 11px; COLOR: black
}
A.path:visited {
	FONT-SIZE: 11px; COLOR: black
}
.for_n {
	FONT-SIZE: 11px; COLOR: gray
}
.for_n A:link {
	FONT-SIZE: 11px; COLOR: gray
}
.for_n A:hover {
	FONT-SIZE: 11px; COLOR: gray
}
.for_n A:visited {
	FONT-SIZE: 11px; COLOR: gray
}
.pathcur {
	FONT-SIZE: 11px; COLOR: #cc0000
}
A.pathcur:link {
	FONT-SIZE: 11px; COLOR: #cc0000
}
A.pathcur:hover {
	FONT-SIZE: 11px; COLOR: #cc0000
}
A.pathcur:visited {
	FONT-SIZE: 11px; COLOR: #cc0000
}
.subh {
	LINE-HEIGHT: 15pt
}
.h1 {
	FONT-SIZE: 25pt; COLOR: #333333; LINE-HEIGHT: 20pt
}
.h2 {
	FONT-SIZE: 16pt; COLOR: #333333
}
.h2red {
	FONT-SIZE: 16pt; COLOR: #d50505
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333
}
.listlnk {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000
}
A.listlnk:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000
}
A.listlnk:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000
}
A.listlnk:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc0000
}
.pages {
	FONT-SIZE: 13px; COLOR: #cc0000
}
.pages A:link {
	FONT-SIZE: 13px; COLOR: #cc0000
}
.pages A:link {
	FONT-SIZE: 13px; COLOR: #cc0000
}
.pages A:link {
	FONT-SIZE: 13px; COLOR: #cc0000
}
.pages B {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: black
}
.price {
	FONT-WEIGHT: bold; COLOR: #d50505
}
.attroff {
	FONT-WEIGHT: bold; COLOR: #333333
}
.attron {
	FONT-WEIGHT: bold; COLOR: #d50505
}
A.attron:link {
	FONT-WEIGHT: bold; COLOR: #d50505; TEXT-DECORATION: none
}
A.attron:hover {
	FONT-WEIGHT: bold; COLOR: #d50505; TEXT-DECORATION: none
}
A.attron:visited {
	FONT-WEIGHT: bold; COLOR: #d50505; TEXT-DECORATION: none
}
