# xml files
*.idea

# my notes files 
*.txt 
*.md

# to build projects with CMake
!CMakeLists.txt

# stuff from builder
**/cmake-build-debug
*/out

# directory for test and junk projects
**/tmp
.DS_Store

# other
ignore_*
Documents/