# xml files
*.idea

# my notes files 
*.txt 
*.md

# to build projects with CMake
!CMakeLists.txt

# stuff from builder
**/cmake-build-debug
*/out

# directory for test and junk projects
**/tmp

# files
*.gsheet
*.doc
*.jar
*.dll

stuff/

# other
ignore_*
.DS_Store
_DS_Store
.vscode/
venv/
__pycache__
Icon*

**/Курсач/
Реферат_плавание.docx
Группа.pdf
infa.docx
820601.gsheet
gruppa.jpg