{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>ООО Шведов Андрей</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <ul>
        <li style="margin-left: 20px">
          <a id="mainlabel" href="index.html">Main☔</a>
          <a href="/page1/">1 страница</a>
          <a href="/page2/">2 страница</a>
          <a href="/index/page3">3 страница</a>
          <a href="/index/page4">4 страница</a>
          <a href="/index/page5">5 страница</a>
        </li>
      </ul>
    </header>
    <main>
      <h1>Header 1</h1>
      <center>
        <p>
          <img
            src="img/pepperoni.png"
            width="10%"
            alt=8"PeppeRonin"
            title="РeppeRonin"
          />
        </p>
      </center>
      <h2>Мы кто?</h2>
      <p>Не важно кто мы, главное чтобы мы оставались мыми, а они - оними</p>
      <h2>Наши услуги</h2>
      <h3>бла-бла</h3>
      <p>и тут тоже бла-бла-бла</p>
      <h3>тут лень даже бла писать</h3>
      <p>максимально лень</p>

      <section class="links">
        <ol>
          <li><a href="p1.html">страница 1</a></li>
          <li><a href="p2.html">страница 2</a></li>
          <li><a href="p3.html">страница 3</a></li>
          <li><a href="p4.html">страница 4</a></li>
          <li><a href="p5.html">страница 5</a></li>
        </ol>
      </section>
    </main>
  </body>
</html>
