<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>Страница 1</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="third_body">
    <div class="navbar">
      <a href="index.html">Главная</a>
      <a class="active" href="p1.html">1 страница</a>
      <a href="p2.html">2 страница</a>
      <a href="p3.html">3 страница</a>
      <a href="p4.html">4 страница</a>
      <a href="p5.html">5 страница</a>
    </div>
    <main>
      <div class="titl">
        <h1>Страница 1</h1>
      </div>

      <section class="text1">
        <p>
          Лягушка Пепе (англ. Pepe the Frog, /ˈpɛpeɪ/) — известный интернет-мем.
          Персонаж, представляющий из себя зелёную антропоморфную лягушку,
          впервые появился в комиксе Boy’s Club за авторством Мэтта Фьюри (Matt
          Furie). Стал интернет-мемом в 2008 году, когда его популярность
          неуклонно возрастала в сообществах сайтов Myspace, Gaia Online и
          4chan. К 2015 стал одним из наиболее популярных интернет-мемов на
          4chan и Tumblr. К 2016 году изображение Пепе было присвоено спорным
          движением альтернативных правых как свой символ. Антидиффамационная
          лига внесла некоторые изображения с лягушонком Пепе в свою базу
          символов ненависти в 2016 году, отметив при этом, что не все мемы с
          Пепе имеют расистскую направленность. После этого создатель Пепе
          высказывал неприятие использования Пепе в качестве символа ненависти.
          Оригинальный мем со временем развился в несколько вариантов, например,
          Sad Frog (с англ. — «печальная лягушка»), Smug Frog (с
          англ. — «самодовольная лягушка»), Feels Frog (с
          англ. — «чувствительная лягушка»), лягушка «You will never…».
        </p>
      </section>

      <div class="image">
        <a href="index.html">
          <img class="img_back" src="img/back.png" />
        </a>
      </div>
    </main>
  </body>
</html>
