<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>Страница 2</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="fourth_body">
    <div class="navbar">
      <a href="index.html">Главная</a>
      <a href="p1.html">1 страница</a>
      <a class="active" href="p2.html">2 страница</a>
      <a href="p3.html">3 страница</a>
      <a href="p4.html">4 страница</a>
      <a href="p5.html">5 страница</a>
    </div>
    <main>
      <div class="titl">
        <h1>Страница 2</h1>
        <center><img src="img/7TMH.gif" width="10%" /></center>
      </div>
      <section>
        <div class="text1">
          <ul class="list2">
            <li>Тут должны</li>
            <li>быть какие-то пункты</li>
            <li>но для этого нужна какая-то фантазия</li>
            <li>а её совсем нет</li>
            <li>очень жаль что так вышло</li>
          </ul>
        </div>
      </section>

      <div class="image">
        <a href="index.html">
          <img class="img_back" src="img/back.png" />
        </a>
      </div>
    </main>
  </body>
</html>
