<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>Страница 4</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="fifth_body">
    <div class="navbar">
      <a href="index.html">Главная</a>
      <a href="p1.html">1 страница</a>
      <a href="p2.html">2 страница</a>
      <a href="p3.html">3 страница</a>
      <a class="active" href="p4.html">4 страница</a>
      <a href="p5.html">5 страница</a>
    </div>
    <main>
      <div class="titl">
        <h1>Страница 4</h1>
        <center>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/iik25wqIuFo"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </center>
        <center>
          <select>
            <option>Never gonna give you up</option>
            <option>Never gonna let you down</option>
            <option>Never gonna run around and desert you</option>
            <option>Never gonna make you cry</option>
            <option>Never gonna say goodbye</option>
            <option>Never gonna tell a lie and hurt you</option>
          </select>
        </center>
        <audio controls>
          <source src="audio/Rick.mp3" type="audio/mpeg" />
        </audio>
      </div>

      <div class="image">
        <a href="index.html">
          <img class="img_back" src="img/back.png" />
        </a>
      </div>
    </main>
  </body>
</html>
