
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.model.label(class="form-control-label") }}
                {% if form.model.errors %}
                    {{ form.model(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.model.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.model(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2">Found this models</a>
          </div>
          <p class="article-content">
              {% for obj in data %}
                {{ obj }}
              {% endfor %}
            </p>
        </div>
      </article>
</div>
{% endblock content %}